/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --heading-font: "Public Sans", sans-serif;
  --primary-color: #152427;
  --btn-color: #143c3c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
select,
textarea,
input {
  font-family: inherit;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

input {
  border: none;
  outline: none;
}

.section-heading {
  color: var(--primary-color);
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.23;
}

.section-desc {
  color: #7d8188;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.62;
}

.title {
  display: flex;
  align-items: center;
  color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.62;
}
.title::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 1px;
  background-color: var(--primary-color);
  margin-right: 21px;
}

.section-heading__flat::after {
  content: "";
  display: inline-block;
  width: 66px;
  height: 2px;
  margin-bottom: 6px;
  background-color: var(--primary-color);
  margin-left: 15px;
}

.row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
.btn {
  display: inline-block;
  --height: 57px;
  min-width: 173px;
  height: var(--height);
  line-height: var(--height);
  border-radius: 99px;
  background: var(--btn-color);
  color: var(--text-color-white, #fff);
  text-align: center;
  font-family: var(--heading-font);
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.9;
}

.navbar__list, .logo, .header__inner {
  display: flex;
  align-items: center;
}

.header-fixed {
  position: sticky;
  z-index: 2;
  top: -15px;
  background-color: #fff;
  padding-top: 28px;
}
@media (max-width: 767.98px) {
  .header-fixed {
    padding-top: 25px;
  }
}

@media (max-width: 991.98px) {
  .header__inner {
    justify-content: space-between;
  }
}
@media (max-width: 767.98px) {
  .header__inner {
    justify-content: flex-start;
  }
}
.header__inner--separate {
  margin-top: 13px;
  width: 1140px;
  height: 1px;
  flex-shrink: 0;
  background: linear-gradient(90deg, #fff, rgba(221, 220, 220, 0.3176470588), rgba(212, 212, 212, 0) 99.68%);
}
@media (max-width: 991.98px) {
  .header__inner--separate {
    display: none;
  }
}
.header__more {
  display: none;
}
@media (max-width: 767.98px) {
  .header__more {
    margin-left: 30px;
    display: block;
  }
}
@media (max-width: 767.98px) {
  .header-action__btn {
    --height: 32px;
    min-width: 92px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: auto;
  }
}

.logo {
  gap: 5px;
}
.logo__title {
  color: var(--Primary-color-black, #152427);
  font-family: var(--heading-font);
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 800;
  line-height: 60px; /* 120% */
}
@media (max-width: 767.98px) {
  .logo__title {
    font-size: 1.4rem;
  }
}

.navbar {
  margin-left: auto;
  margin-right: 72px;
}
@media (max-width: 767.98px) {
  .navbar {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .navbar {
    margin-left: 0;
    margin-right: 0;
  }
}
.navbar__link {
  padding: 8px 16px;
  color: #575d5e;
  font-family: var(--heading-font);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55;
}
.navbar__link:hover {
  color: #152427;
}

.hero-row__play, .hero-row-cta, .hero-row, .hero__inner {
  display: flex;
  align-items: center;
}

.hero {
  padding: 60px 0 87px;
}
.hero__inner {
  gap: 76px;
}
@media (max-width: 767.98px) {
  .hero__inner {
    flex-direction: column;
    align-items: flex-start;
    gap: 67px;
  }
}
.hero__content {
  max-width: 36%;
  flex-shrink: 0;
}
@media (max-width: 767.98px) {
  .hero__content {
    max-width: 100%;
  }
}
.hero__heading {
  color: var(--primary-color);
  font-family: var(--heading-font);
  font-size: 50px;
  font-weight: 800;
  line-height: 1.2;
}
@media (max-width: 767.98px) {
  .hero__heading {
    width: 233px;
    font-size: 3rem;
    line-height: 1.33;
    word-break: break-all;
  }
}
.hero__desc {
  margin-top: 20px;
  color: #575d5e;
  font-family: var(--heading-font);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55;
}
@media (max-width: 767.98px) {
  .hero__desc {
    margin-top: 10px;
    width: 240px;
    font-size: 1.4rem;
    line-height: 1.71;
  }
}
.hero__media {
  position: relative;
  flex: 1;
}
@media (max-width: 767.98px) {
  .hero__media {
    display: block;
    margin: 0 auto;
  }
}
.hero-media__inner {
  display: flex;
  gap: 20px;
}
@media (max-width: 767.98px) {
  .hero-media__inner {
    gap: 9px;
  }
}
.hero-media__images {
  position: relative;
  width: 202px;
  height: 466px;
  border-radius: 110px;
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .hero-media__images {
    width: 85.351px;
    height: 196.898px;
  }
}
.hero-media__images:nth-child(2) {
  margin-top: 77px;
}
@media (max-width: 767.98px) {
  .hero-media__images:nth-child(2) {
    margin-top: 37px;
  }
}
.hero-media__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero__media::after {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  translate: -50% -30%;
  content: "";
  display: inline-block;
  width: 340px;
  height: 340px;
  background: #4dbb9a;
  filter: blur(137px);
}
@media (max-width: 767.98px) {
  .hero__media::after {
    width: 205px;
    height: 205px;
  }
}

.hero-row {
  margin-top: 42px;
}
@media (max-width: 767.98px) {
  .hero-row {
    margin-top: 19px;
  }
}
.hero-row-cta {
  margin-left: 36px;
  cursor: pointer;
}
@media (max-width: 767.98px) {
  .hero-row-cta {
    margin-left: 25px;
  }
}
.hero-row__play {
  position: relative;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  justify-content: center;
  background-color: #83a17d;
  border-radius: 50%;
}
@media (max-width: 767.98px) {
  .hero-row__play {
    width: 30px;
    height: 29px;
  }
}
.hero-row__play::before {
  position: absolute;
  content: url("../icons/elip.svg");
  top: -7px;
  left: -7px;
}
@media (max-width: 767.98px) {
  .hero-row__play::before {
    content: url("../icons/elip-mobile.svg");
    top: -5px;
    left: -5px;
  }
}
.hero-row__watch {
  margin-left: 15px;
  color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66;
  white-space: nowrap;
}
@media (max-width: 767.98px) {
  .hero-row__watch {
    margin-left: 9px;
    font-size: 1.4rem;
    line-height: 2.14;
  }
}
@media (max-width: 767.98px) {
  .hero-row__btn {
    --height: 35px;
    min-width: 107px;
    color: #fff;
    font-size: 1.2rem;
  }
}
.hero-row__play-icon {
  width: 8px;
  height: 8px;
}

.action-logo {
  margin-top: 42px;
}

.logo__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  height: 201px;
  border-radius: 100.5px;
  background-color: #e2eddf;
}
@media (max-width: 767.98px) {
  .logo__inner {
    flex-wrap: wrap;
    gap: 10px;
    width: 335px;
    height: 251px;
    border-radius: 30px;
    margin: 0 auto;
  }
}

.logo-decor {
  cursor: pointer;
}
.logo-decor:nth-child(3)::before {
  content: url("../icons/mask.svg");
  margin-right: 11px;
}
@media (max-width: 767.98px) {
  .logo-decor:nth-child(3)::before {
    margin-right: 4px;
  }
}
@media (max-width: 767.98px) {
  .logo-decor--img {
    width: 120px;
    height: 25px;
  }
}

.service {
  padding: 56px 0;
  margin-top: 50px;
}
@media (max-width: 767.98px) {
  .service {
    padding-bottom: 0;
  }
}
.service-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service__heading {
  margin-top: 12px;
  width: 520px;
}
@media (max-width: 767.98px) {
  .service__heading {
    font-size: 3rem;
    line-height: 1.33;
    width: 281px;
  }
}

.service-chevron {
  display: flex;
  align-items: center;
  gap: 17px;
}
.service-chevron-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: #e2eddf;
}
@media (max-width: 767.98px) {
  .service-chevron {
    display: none;
  }
}

.service__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
@media (max-width: 767.98px) {
  .service__list {
    grid-template-columns: 1fr;
  }
}

.service-item {
  margin-top: 76px;
  border-radius: 20px;
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .service-item + .service-item {
    margin-top: 15px;
  }
}
.service-item:hover {
  box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}
.service-item:hover .service-item__info {
  padding: 24px 18px;
}
.service-item__images {
  width: 370px;
  height: 318px;
  flex-shrink: 0;
  overflow: hidden;
}
.service-item__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: scale 0.3s linear;
}
.service-item:hover .service-item__img {
  scale: 1.1;
}
.service-item__info {
  padding: 24px 0;
  transition: padding 0.3s linear;
}
.service-item__title {
  color: var(--primary-color);
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1;
}
.service-item__desc {
  width: 268px;
  margin-top: 18px;
  color: #7d8188;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.71;
}

.about {
  padding: 50px 0;
  margin-top: 50px;
}
@media (max-width: 767.98px) {
  .about {
    padding: 25px 0;
    margin-top: 25px;
  }
}
.about__inner {
  display: flex;
}
@media (max-width: 767.98px) {
  .about__inner {
    flex-direction: column;
  }
}
.about-row {
  margin-top: 37px;
  display: flex;
  align-items: center;
  gap: 24px;
  padding-bottom: 20px;
  border-bottom: 1px solid #83a17d;
}
.about-row__desc {
  color: #7d8188;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.71;
}
@media (max-width: 767.98px) {
  .about-row__desc {
    font-size: 1rem;
    font-weight: 500;
    line-height: 2;
  }
}
@media (max-width: 767.98px) {
  .about__heading {
    margin-top: 12px;
    width: 263px;
    font-size: 3rem;
    line-height: 1.33;
  }
  .about__desc {
    width: 310px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.85;
    margin-top: 12px;
  }
  .about-mobile__heading {
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 2;
  }
}

.about__media {
  display: flex;
  position: relative;
  gap: 20px;
  min-width: 50%;
}
@media (max-width: 767.98px) {
  .about__media {
    align-self: center;
    gap: 10px;
  }
}
.about__media--images {
  position: relative;
  width: 284px;
  height: 480px;
  border-radius: 210px;
  box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}
@media (max-width: 767.98px) {
  .about__media--images {
    width: 152.332px;
    height: 257.462px;
  }
}
.about__media--img {
  width: 100%;
  height: 100%;
  border-radius: 210px;
}
.about__media--images:first-child {
  margin-top: 77px;
}
@media (max-width: 767.98px) {
  .about__media--images:first-child {
    margin-top: 40px;
  }
}
.about__media--decor-01 {
  position: absolute;
  z-index: 1;
}
@media (max-width: 767.98px) {
  .about__media--decor-01 {
    width: 286.693px;
    height: 190.871px;
  }
}
.about__media--decor-02 {
  position: absolute;
  z-index: 1;
  top: -40px;
  left: -37px;
}
@media (max-width: 767.98px) {
  .about__media--decor-02 {
    width: 38.124px;
    height: 38.106px;
    top: -15px;
    left: 23px;
  }
}

.about__content {
  flex: 1;
  padding-left: 64px;
}
@media (max-width: 767.98px) {
  .about__content {
    margin-top: 53px;
    padding-left: 0;
  }
}

.about__card {
  position: absolute;
  bottom: -69px;
  right: -9px;
  padding: 19px 23px 12px;
  width: 143px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}
.about__card--title {
  color: var(--primary-color);
  font-family: var(--heading-font);
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
}
.about__card--desc {
  margin-top: 6px;
  color: #575d5e;
  font-family: var(--heading-font);
  font-size: 1rem;
  line-height: 1;
}
.about__card--value {
  --height: 2px;
  position: relative;
  margin-top: 10px;
}
.about__card--value::before {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: "";
  display: inline-block;
  width: 96px;
  height: var(--height);
  border-radius: 10px;
  background: #eaeaea;
}
.about__card--value::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 40px;
  height: var(--height);
  border-radius: 10px;
  background: #83a17d;
}
.about__card--loading {
  color: var(--primary-color);
  font-family: var(--heading-font);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
}
.about__card--load {
  margin-top: 8px;
  text-align: right;
}
.about__card--dot {
  margin: 3px 0 0 -4px;
  position: relative;
  display: inline-block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #eaeaea;
}
.about__card--dot::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #143c3c;
  border-radius: inherit;
}
.about__card-row {
  display: flex;
  align-items: center;
  margin: 5px 0 0 -4px;
}
.about__card--group {
  display: flex;
  margin-left: auto;
}
.about__card--avatar {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-left: -6px;
}

.process {
  padding: 50px 0;
  margin-top: 15px;
}
@media (max-width: 767.98px) {
  .process {
    padding: 25px;
    margin-top: 0;
  }
}
.process__heading {
  margin-top: 20px;
  width: 520px;
}
@media (max-width: 767.98px) {
  .process__heading {
    margin-top: 16px;
    width: 298px;
    font-size: 3rem;
    line-height: 1.33;
  }
}
.process__list {
  margin-top: 81px;
}
@media (max-width: 767.98px) {
  .process__list {
    margin-top: 59px;
  }
}

.process__inner {
  display: flex;
  align-items: center;
}

.process-item {
  display: flex;
  align-items: center;
  gap: 175px;
  position: relative;
  padding: 53px 20px 46px;
  border-radius: 33px;
  cursor: pointer;
  transition: background 0.3s ease-out;
  border-bottom: 1px solid rgb(131, 161, 125);
}
@media (max-width: 767.98px) {
  .process-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
}
.process-item:nth-child(2) .process-item__desc {
  margin-left: -65px;
}
@media (max-width: 767.98px) {
  .process-item:nth-child(2) .process-item__desc {
    margin-left: 0;
  }
}
.process-item:hover {
  background: #e2eddf;
}
.process-item + .process-item {
  margin-top: 15px;
}
@media (max-width: 767.98px) {
  .process-item + .process-item {
    margin-top: 0;
  }
}
.process-item::after {
  position: absolute;
  right: 0;
  bottom: 0;
  content: url(../img/process-img.svg);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
}
@media (max-width: 767.98px) {
  .process-item::after {
    display: none;
  }
}
.process-item:hover::after {
  opacity: 1;
  visibility: visible;
}
.process-item__heading {
  color: #143c3c;
  font-size: 7.2rem;
  font-weight: 600;
  line-height: 0.72;
}
@media (max-width: 767.98px) {
  .process-item__heading {
    font-size: 5rem;
    line-height: 1.04;
  }
}
.process-item__cta {
  margin-left: 64px;
}
@media (max-width: 767.98px) {
  .process-item__cta {
    margin-left: 9px;
  }
}
.process-item__title {
  color: var(--primary-color);
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1;
}
@media (max-width: 767.98px) {
  .process-item__title {
    font-size: 2.2rem;
    line-height: 1;
  }
}
.process-item__more {
  display: inline-block;
  margin-top: 22px;
  color: #575d5e;
  font-size: 1.8rem;
  line-height: 1;
  text-decoration: underline;
}
@media (max-width: 767.98px) {
  .process-item__more {
    font-size: 1.8rem;
    line-height: 1;
    display: none;
  }
}
@media (max-width: 767.98px) {
  .process-item:hover .process-item__more {
    display: block;
  }
}
.process-item__desc {
  width: 572px;
  color: #7d8188;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
}
@media (max-width: 767.98px) {
  .process-item__desc {
    width: 100%;
    font-size: 1.4rem;
    line-height: 2;
    margin-left: 0;
    margin-top: 22px;
  }
}

.video {
  margin-top: 100px;
  padding: 116px 0 63px;
  background-color: #143c3c;
}
@media (max-width: 767.98px) {
  .video {
    padding: 53px 0 63px;
    margin-top: 50px;
  }
}
.video__heading {
  color: #e7f9f9;
}
@media (max-width: 767.98px) {
  .video__heading {
    width: 320px;
    font-size: 3rem;
    line-height: 1.33;
  }
}
.video__desc {
  color: #6a8383;
}
@media (max-width: 767.98px) {
  .video__desc {
    margin-top: 8px;
    width: 233px;
    font-size: 1.4rem;
    line-height: 1.71;
  }
}
.video__cta {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55;
}
@media (max-width: 767.98px) {
  .video__cta {
    margin-top: 18px;
  }
}
.video-cta-icon {
  rotate: 180deg;
  filter: brightness(0) saturate(100%) invert(64%) sepia(26%) saturate(322%) hue-rotate(64deg) brightness(90%) contrast(88%);
  margin-left: 26px;
}

.section-heading__flat::after {
  background-color: #83a17d;
}
@media (max-width: 767.98px) {
  .section-heading__flat::after {
    width: 38px;
  }
}

.video-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 93px;
}
@media (max-width: 767.98px) {
  .video-top {
    grid-template-columns: 1fr;
  }
}

.video__cta-row {
  grid-column: 2/3;
}
@media (max-width: 767.98px) {
  .video__cta-row {
    grid-column: auto;
  }
}

.video-bottom {
  margin-top: 65px;
}
@media (max-width: 767.98px) {
  .video-bottom {
    margin-top: 40px;
  }
}
.video-bottom__images {
  position: relative;
  min-height: 544px;
}
@media (max-width: 767.98px) {
  .video-bottom__images {
    height: 544px;
    object-fit: cover;
    border-radius: 22px;
  }
}
.video-bottom__images::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 118px;
  height: 118px;
  content: url("../icons/play-video.svg");
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  cursor: pointer;
}
.video-bottom__img {
  max-width: 100%;
  height: 100%;
  border-radius: 22px;
}

.video-decor-01 {
  position: absolute;
  top: 0;
  right: -97px;
}
@media (max-width: 767.98px) {
  .video-decor-01 {
    width: 150.208px;
    height: 185.13px;
    top: 0px;
    right: -15px;
  }
}

.video-decor-02 {
  position: absolute;
  top: -31px;
  right: -35px;
}
@media (max-width: 767.98px) {
  .video-decor-02 {
    width: 72.033px;
    height: 72px;
    top: -14px;
    right: 32px;
  }
}

.feature {
  padding: 50px 0;
  margin-top: 90px;
}
@media (max-width: 767.98px) {
  .feature {
    padding: 25px;
    margin-top: 25px;
  }
}
.feature__inner {
  text-align: center;
}
.feature__desc, .feature__heading {
  width: 547px;
  margin: 0 auto;
}
@media (max-width: 767.98px) {
  .feature__heading {
    max-width: 275px;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.33;
  }
}
.feature__desc {
  margin-top: 20px;
}
@media (max-width: 767.98px) {
  .feature__desc {
    margin-top: 12px;
    max-width: 306px;
    font-size: 1.4rem;
    line-height: 1.71;
  }
}
.feature__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 45px;
  margin-top: 103px;
}
@media (max-width: 767.98px) {
  .feature__list {
    margin-top: 30px;
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 30px;
  }
}

.feature-item {
  max-width: 350px;
  height: 362px;
  border-radius: 160px;
  border: 1.5px solid #cecece;
  padding: 80px 27px;
  transition: translate 0.3s ease-in-out;
  cursor: pointer;
}
.feature-item:hover {
  translate: 0 -60px;
  background: #fff;
  box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
  border: 1px solid #fff;
}
@media (max-width: 767.98px) {
  .feature-item:hover {
    translate: 0 0;
  }
}
.feature-item__title {
  margin-top: 26px;
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
}
.feature-item__desc {
  margin-top: 9px;
  color: #7d8188;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.71;
}

.blog {
  padding: 54px 0;
  margin-top: 80px;
}
@media (max-width: 767.98px) {
  .blog {
    padding: 25px 0;
    margin-top: 25px;
  }
}
.blog__desc, .blog__heading {
  align-self: center;
  grid-row: 2/3;
}
@media (max-width: 767.98px) {
  .blog__desc, .blog__heading {
    max-width: 278px;
    grid-row: auto;
  }
}
.blog__heading {
  margin-top: 10px;
}
@media (max-width: 767.98px) {
  .blog__heading {
    margin-top: 20px;
    font-size: 3rem;
    line-height: 1.33;
  }
}
.blog__desc {
  margin-left: 160px;
  width: 409px;
  margin-top: 12px;
}
@media (max-width: 767.98px) {
  .blog__desc {
    margin-left: 0;
  }
}
.blog__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  margin-top: 90px;
}
@media (max-width: 767.98px) {
  .blog__list {
    margin-top: 38px;
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 52px;
  }
}

.blog-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 767.98px) {
  .blog-top {
    grid-template-columns: 1fr;
  }
}

.blog-item {
  overflow: hidden;
  border-radius: 40px 40px 20px 20px;
}
.blog-item:hover {
  box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
}
.blog-item__images {
  min-width: 360px;
  height: 317px;
  overflow: hidden;
}
.blog-item__img {
  width: 100%;
  height: 100%;
  border-radius: 40px 40px 0px 0px;
  transition: scale 0.3s ease-in;
}
.blog-item:hover .blog-item__img {
  scale: 1.1;
}
.blog-item__info {
  padding: 26px 14px 12px 0;
  border-radius: 0px 0px 20px 20px;
  transition: padding 0.3s ease-in;
}
.blog-item:hover .blog-item__info {
  padding: 26px 30px 12px;
}
.blog-item__base {
  width: 107px;
  height: 26px;
  border-radius: 999px;
  background: #e2eddf;
  color: #000;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
}
.blog-item:hover .blog-item__base {
  background: #143c3c;
  color: #fff;
}
.blog-item__desc {
  margin-top: 13px;
  color: #143c3c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66;
}
.blog-item__separate {
  margin-top: 38px;
  width: 100%;
  height: 1px;
  background: #c4c4c4;
}
.blog-item__time {
  display: block;
  text-align: right;
  margin-top: 16px;
  color: #575d5e;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
}

.footer {
  padding: 72px 0 50px;
  margin-top: 52px;
  background-color: #143c3c;
}
@media (max-width: 767.98px) {
  .footer {
    margin-top: 0;
  }
}
.footer__inner {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 767.98px) {
  .footer__inner {
    grid-template-columns: 1fr;
  }
}
.footer__heading {
  color: #fff;
  font-size: 3.2rem;
  font-weight: 500;
}
@media (max-width: 767.98px) {
  .footer__heading {
    font-size: 2.4rem;
  }
}
.footer__input {
  color: #fff;
  font-size: 1.6rem;
  width: 100%;
  background-color: transparent;
  padding-bottom: 36px;
}
.footer__input::placeholder {
  color: #6a8383;
  font-size: inherit;
  font-weight: 600;
  line-height: 1;
}
@media (max-width: 767.98px) {
  .footer__input::placeholder {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1;
  }
}
.footer__submit {
  padding-bottom: 36px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.footer__list {
  justify-self: flex-end;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}
.footer__separate {
  margin-top: 45px;
  height: 1px;
  background: linear-gradient(90deg, #143c3c 0.28%, rgba(41, 90, 90, 0.3333333333) 0.65%, rgba(38, 82, 82, 0) 102.06%);
}

.footer-form {
  margin-top: 25px;
  display: flex;
  width: 354px;
  border-bottom: 1.5px solid #6a8383;
}
@media (max-width: 767.98px) {
  .footer-form {
    width: 100%;
  }
}

.footer-group {
  margin-top: 47px;
  display: flex;
  align-items: center;
  gap: 22px;
}
.footer-group__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #265252;
  cursor: pointer;
}
.footer-group__icon:hover {
  background-color: #a75325;
}

.footer-right {
  justify-self: flex-end;
}
@media (max-width: 767.98px) {
  .footer-right {
    display: none;
  }
}
.footer-right__heading {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55;
  margin-bottom: 6px;
}
.footer-right__link {
  color: #6a8383;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.25;
}
.footer-right__link:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=main.css.map */
